/* General Styles */
* {
    margin: 0;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: linear-gradient(to bottom, #bcdcda, #82bfcd);
    background-repeat: no-repeat;
    font-family: Arial, sans-serif, Roboto, Helvetica, sans-serif;
    border: 5px solid black;
    line-height: 1.2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Text Styles */
h1 {
    color: black;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 3px 3px 1px black;
}

h2 {
    color: black;
    font-weight: bold;
    font-size: 30px;
}

h3 {
    color: black;
    font-size: 24px;
}

p,
li {
    color: black;
    font-size: 16px;
}


/* Image Styles */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}


